/**
 * Fonts
 */
@import url('http://fonts.googleapis.com/css?family=Droid+Serif:400,700');
@import "blueprint";
@import "compass/css3";
@import "base";
@import "compass/layout/sticky-footer";
@import "blueprint/buttons";

@include font-face("Geared", font-files("../../fonts/Geared/GearedSlab.ttf"));
@include font-face("GearedB", font-files("../../fonts/Geared/GearedSlab-Bold.ttf"));
@include font-face("GearedL", font-files("../../fonts/Geared/GearedSlab-Light.ttf"));

/** nous colors **/
/** des del kuler**
$color1: rgb(242,234,223);
$color1t: rgba(242,234,223,0.4);
$color2: rgb(31,20,38);
$color2t: rgba(31,20,38,0.8);
$color3: rgb(217,120,35);
$color4: rgb(217,80,30);
$color5: rgb(191,23,37);
*/
$color1: white;
$color1t: white;
$color2: white;
$color2t: white;
$color3: rgb(217,120,35);
$color4: rgb(217,80,30);
$color5: rgb(191,23,37);


/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

body.front article {display: none;}


/*
 * Body
 */

* { font-family: 'Droid Serif'; }

body {
  background-color: $color1t;
  margin: 0;
  padding: 0;
}
a,
a:link,
a:visited {
  color: $color4;
  text-decoration: none;
}
a:hover {
  color: $color5;
}

$blueprint_grid_margin: 16px;
$blueprint_grid_columns: 9;
$blueprint_grid_width: 90px;
$blueprint_grid_outer_width: 115px;

#page {
  @include blueprint-grid;
  background-color: none;
  @include container;
  hgroup {
    @include column(9);
  }
  #navigation {
    @include column(7);
    padding-left: 0px;
  }

  .region-highlighted {
    @include opacity(0.9);
    @include column(9);
    float: right;
  }
  #main {
    padding-top: 0px;
  }
  #main .block-block{
    @include column(3);
    @include border-radius(6px);
    @include box-shadow(rgba(33, 68, 91, 0.4) 0 0 4px, rgba(235,208,150, 0.3) 0 0 3px 1px );
    background-color: $color2t;

    min-height: 320px;
    * {
      padding: 14px;
    }
    h2 {
      margin-bottom: -18px;
      padding-bottom: 4px;
      line-height: 30px;
    }
    p {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

body.not-front #page #main #content{
  margin-bottom: 12px;
  padding: 12px;
  @include column(9);
  @include border-radius(6px);
  @include box-shadow(rgba(33, 68, 91, 0.4) 0 0 4px, rgba(235,208,150, 0.3) 0 0 3px 1px inset);
  background-color: $color2t;
  button, input, textarea {
    padding: 4px;
    @include border-radius(6px);
    border: 1px solid $color4;
    @include button-colors(black, $color2t, $color5, $color4);
    @include box-shadow(rgba(33, 68, 91, 0.4) 0 0 4px, rgba(235,208,150, 0.3) 0 0 3px 1px inset);
    &:active, &:focus {
      @include box-shadow(rgba(33, 68, 91, 0.4) 0 0 12px, rgba(235,208,150, 0.3) 0 0 3px 1px inset);
    }
  }
}


/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
  font-family: 'Droid Serif', serif;
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
  display: none;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 4em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 24px;
  margin-top: -14px;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  display: none;
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
  background-color: $color2;
  border: 1px solid $color3;
  color: $color5;

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
  display: none;
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/**
 * Views theaming
 */

#block-views-slideshow-block {
    @include column(9);
}
#views_slideshow_cycle_main_slideshow-block {
  .views_slideshow_slide ,
  #views_slideshow_cycle_teaser_section_slideshow-block {
    float: right;
    width: 100%;
  }
  .views-row {
    float: right;
    text-align: right;
    width: 60%;
    .views-field-title {
        font-size: 30px;
    }
  }
}
  #views_slideshow_slide_counter_slideshow-block {
    display: none;
  }

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

@include sticky-footer(72px, 'body', '#footer', '#block-block-4');

#footer {
  background-color: rgb(209, 184,130);
  font-size: 12px;
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}
